<div class="container-fluid">
  <div class="row position-relative justify-content-center align-content-center search_container">
   <div class="col-12">
      <div class="row inner-container">
          <div class="col-8 mx-auto text-center text-white">
              <h1 class="text-">Welcome To Bookishly...</h1>
              <form (ngSubmit)="onBookSearch(searchForm)" #searchForm="ngForm">
                <input class="form-control mt-5 p-4" 
                        type="text" 
                        placeholder="Search your book here by author, title, publisher..."
                        name="search"
                        ngModel
                        #searchBox="ngModel"
                        [ngClass]="{'error': searchBox.invalid && searchBox.dirty || searchForm.invalid && searchForm.submitted
                      }"
                        required>
                <p class="text-danger mb-0 fw_700" *ngIf="error?.status == 0">{{error.statusText}}</p>
                <button class="btn btn-primary mt-5 px-5" type="submit">Search</button>
              </form>
          </div>
      </div>
   </div>
  </div>
</div>
  