<div class="book_card">
    <div class="image_wrapper c_p text-center my-2">
      <img [src]="card?.volumeInfo?.imageLinks?.thumbnail" onError="this.src='/assets/error.png'" alt="">
    </div>
    <div class="content_wrapper mt-4">
        <p class="fw_700 mb-0 title text-truncate">{{card.volumeInfo.title}}</p>
        <div class="author_wrapper">
          <p class="text-truncate" *ngFor="let author of card?.volumeInfo?.authors;">{{author}}</p>
        </div>
    </div>
    <p class="my_btn fw_700" (click)="bookDetailClick(card)">Detail</p>
    <span class="fas fa-info-circle info_button c_p"></span>
    <div id="detail_div" class="hover_wrapper" #hoverDiv>
        <p class="fw_700 mb-3">{{card.volumeInfo.title}}</p>
        <span class="f_12 mb-2 font-italic">By</span>
        <p class="mb-1 text-secondary" *ngFor="let author of card?.volumeInfo?.authors;">{{author}}</p>
    </div>
</div>