<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2"  aria-label="Bootstrap">
        Bookishly
  </a>
  <div class="search_box ml-auto">
      <input type="text" class="form-control default_input"  placeholder="Search...">
    </div>
    <div class="navbar-nav-scroll ml-3">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Sign-up</a>
        </li>
      </ul>
    </div>
  </header>