<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2"  aria-label="Bootstrap">
        Bookishly
  </a>
  <div class="search_box ml-auto">
      <form (ngSubmit)="onBookSearch(searchForm)" #searchForm="ngForm">
        <div class="position-relative search_wrapper">
          <input type="text" 
               class="form-control pr-4 default_input"  
               placeholder="Search..."
               name="search"
               ngModel
               #searchInp="ngModel"
               required>
          <button type="submit"><span class="fas fa-search"></span></button>
        </div>
      </form>
    </div>
    <div class="navbar-nav-scroll ml-3">
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="login()" *ngIf="!loginInfo">Login</a>
          <a class="nav-link" (click)="logout()" *ngIf="loginInfo">Logout</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link px-2 pb-0 pt-1" *ngIf="loginInfo">
              <img class="rounded-circle" 
                   [src]="user?.photoUrl" 
                   onError="this.src='/assets/avatar.png'" 
                   height="32px" 
                   width="32px" >
            </a>
        </li> -->
      </ul>
    </div>
  </header>