<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" [routerLink]="['/']"  aria-label="Bootstrap">
        Bookishly
  </a>
  <div class="search_box ml-auto">
      <form (ngSubmit)="onBookSearch(searchForm)" #searchForm="ngForm">
        <div class="position-relative search_wrapper">
          <input type="text" 
               class="form-control pr-4 default_input"  
               placeholder="Search..."
               name="search"
               ngModel
               #searchInp="ngModel"
               required>
          <button type="submit"><span class="fas fa-search"></span></button>
        </div>
      </form>
    </div>
    <div class="navbar-nav-scroll ml-3">
    </div>
  </header>