<div class="row sidebar">
    <div class="col-12 px-0">
        <ul class="list-group">
            <li class="mt-5 text-center">
                <img src="/assets/avatar.png" class="rounded-circle" alt="">
            </li>
            <li class="text-center mt-3">John Doe</li>
        </ul>
        <ul class="list-group pl-4 utilities_list mt-4">
            <li (click)="onSideLinkClick('/')">Back to search page..</li>
            <li [class.active]="activatedRouteState == 'dashboard'" (click)="onSideLinkClick('/dashboard')">Home</li>
            <li>My Library</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </div>
</div>
