/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&subset=latin-ext');
@import '~swiper/dist/css/swiper.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    font-family: 'Libre Baskerville', serif !important;
    height: 100%;
    width: 100%;
}
.f_8{
    font-size: 8px !important;
}
.f_9{
    font-size: 9px !important;
}
.f_10{
    font-size: 10px !important;
}
.f_11{
    font-size: 11px !important;
}
.f_12{
    font-size: 12px !important;
}
.f_13{
    font-size: 13px !important;
}
.f_14{
    font-size: 14px !important;
}
.f_15{
    font-size: 15px !important;
}
.f_16{
    font-size: 16px !important;
}
.f_17{
    font-size: 17px !important;
}
.f_18{
    font-size: 18px !important;
}
.f_19{
    font-size: 19px !important;
}
.f_20{
    font-size: 20px !important;
}
.f_21{
    font-size: 21px !important;
}
.f_22{
    font-size: 22px !important;
}
.f_23{
    font-size: 23px !important;
}
.f_24{
    font-size: 24px !important;
}
.f_26{
    font-size: 26px !important;
}
.f_28{
    font-size: 28px !important;
}
.f_30{
    font-size: 30px !important;
}
.f_32{
    font-size: 32px !important;
}
.f_34{
    font-size: 34px !important;
}
.f_36{
    font-size: 36px !important;
}
.f_50{
    font-size: 50px !important;
}

.fw_400{
    font-weight: 400 !important;
}
.fw_500{
    font-weight: 500 !important;
}
.fw_600{
    font-weight: 600 !important;
}
.fw_700{
    font-weight: 700 !important;
}
a{
    outline: none;
    border: none;
    color: white;
    cursor: pointer !important;
}
ul{
    margin: 0;
    list-style-type: none;
}
button:focus{
    box-shadow: none;
}
.c_p{
    cursor: pointer !important;
}
.my_btn{
    display: inline-block;
    margin: 0;
    font-size: 14px;
    color: #3F51B5;
    font-weight: 700;
    padding: 0 10px 0 0;
    cursor: pointer;
}
.my_btn:hover{
    color: rgba(0, 0, 255, 0.5);
    transition: 0.5s color;
}
.default_input{
    border: 2px solid #d4d4d4;
}
.default_input:focus{
    border: 2px solid #484848;
    box-shadow: 0px 0px 0 transparent;
}
.default_btn{
    padding: 8px 10px 8px 10px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #d6d6d6;
    background: transparent;
}
.default_btn:hover{
    border: 1px solid #4d4d4d;
    background: #484848;
    color: white;
}
.default_btn:focus{
    box-shadow: 1px 1px 1px #484848;
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.75);
}
.default_btn.active{
    border: 1px solid #4d4d4d;
    background: #484848;
    color: white;
    box-shadow: 1px 1px 1px #484848;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.mat-snack-bar-container{
    background: #484848;
}